/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  app-root{
    width: 100vw;
    height: 100vh;
  }
  .tsparticles-canvas-el {
    width: 100%;
    height: 100vh !important;
  }
